/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(211, 225, 245);
}

header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: rgb(134, 168, 216);
}

.App-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.App-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.speedometer-container {
  text-align: center;
}

.speedometer-container.zoom-on-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.kpi-item {
  text-align: center;
  margin-bottom: 10px;
}

.left-kpi {
  grid-column: span 4;
}

.central-image-container {
  grid-column: span 4;
}

.right-kpi {
  grid-column: span 4;
}

.modal {
  position: fixed;
  background-color: rgb(211, 225, 245);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.kpi-details {
  display: block;
}

.speedometer-name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .left-kpi, .right-kpi {
    grid-column: span 12;
  }

  .speedometer-container.zoom-on-hover:hover {
    transform: none;
    transition: none;
  }
}

@media only screen and (max-width: 768px) {
  .left-kpi, .right-kpi {
    grid-column: span 12;
  }

  .speedometer-container.zoom-on-hover:hover {
    transform: none;
    transition: none;
  }
}

@media only screen and (max-width: 480px) {
  .speedometer-container.zoom-on-hover:hover {
    transform: none;
    transition: none;
  }
}

/* Dynamic color change for speedometer segments */
.speedometer path.speedo-segment {
  fill: var( rgba(33, 14, 120, 0.5),--speedometer-color);
}


/* Add this to your existing CSS or create a new CSS file */
.tab-menu {
  display: flex;
  background-color: #a9c8f2;
  padding: 10px;
}

.tab-menu button {
  background-color: #8da4c4;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.tab-menu button.active {
  background-color: #21185f;
  color: white;
}
